.column {
  background-color: pink;
  width: 45%;
  float: left;
  padding: 10px;
  align-content: center;
}

@media screen and (max-width: 768px) {
  body {
  background-color: black;
  color: white;
  }
}
